<nz-alert nzType="warning" nzMessage="选择1~7号日期，显示的数据为1~6号23:59:59秒的数据" nzShowIcon></nz-alert>
<form nz-form>
    <nz-form-item>
        <nz-form-label [nzSpan]="2">日期</nz-form-label>
        <nz-form-control [nzSpan]="5">
            <app-daterangecomp #daterangeComp></app-daterangecomp>
        </nz-form-control>
        <nz-form-control [nzSpan]="4" [nzPush]="1">
            <button nz-button nzSize="small" nzType="primary" (click)="searchData()">搜索</button>
        </nz-form-control>
    </nz-form-item>
</form>
<br><br>
<div nz-row>
    <div nz-col nzSpan="16">
        <div echarts [options]="question_count_by_day_option"></div>
    </div>
    <div nz-col nzSpan="8">
        <div echarts [options]="question_count_by_tag_option"></div>
    </div>
</div>
<br><br>
<div nz-row>
    <div nz-col nzSpan="24">
        <div echarts [options]="login_scan_by_day_option"></div>
    </div>
</div>
<br><br>
<div nz-row>
    <div nz-col nzSpan="12">
        <nz-table #article_scan_table nzSize="small" [nzData]="article_scan" [nzFrontPagination]="false"
            [nzShowPagination]="false" nzTitle="文章浏览top10">
            <thead>
                <tr>
                    <th>文章</th>
                    <th nzWidth="80px">浏览量</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of article_scan_table.data">
                    <td>{{data.t_title}}</td>
                    <td>{{data.t_scan_origin}}</td>
                </tr>
            </tbody>
        </nz-table>
    </div>
    <div nz-col nzSpan="12">
        <nz-table #article_search_table nzSize="small" [nzData]="article_search" [nzFrontPagination]="false"
            [nzShowPagination]="false" nzTitle="文章热搜top10">
            <thead>
                <tr>
                    <th>文章</th>
                    <th nzWidth="80px">搜索量</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of article_search_table.data">
                    <td>{{data.t_title}}</td>
                    <td>{{data.t_search}}</td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>
<br><br>
<div nz-row>
    <div nz-col nzSpan="12">
        <nz-table #question_scan_table nzSize="small" [nzData]="question_scan" [nzFrontPagination]="false"
            [nzShowPagination]="false" nzTitle="提问浏览top10">
            <thead>
                <tr>
                    <th>提问</th>
                    <th nzWidth="80px">浏览量</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of question_scan_table.data">
                    <td>{{data.t_title}}</td>
                    <td>{{data.t_scan_origin}}</td>
                </tr>
            </tbody>
        </nz-table>
    </div>
    <div nz-col nzSpan="12">
        <nz-table #question_search_table nzSize="small" [nzData]="question_search" [nzFrontPagination]="false"
            [nzShowPagination]="false" nzTitle="问题热搜top10">
            <thead>
                <tr>
                    <th>问题</th>
                    <th nzWidth="80px">搜索量</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of question_search_table.data">
                    <td>{{data.t_title}}</td>
                    <td>{{data.t_search}}</td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>