<form nz-form>
  <nz-form-item>
    <nz-form-label [nzSpan]="2">原密码</nz-form-label>
    <nz-form-control [nzSpan]="4">
      <input nz-input type="password" [(ngModel)]="oldpassword" name="oldpassword">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="2">新密码</nz-form-label>
    <nz-form-control [nzSpan]="4">
      <input nz-input type="password" [(ngModel)]="newpassword" name="newpassword">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="2">确认密码</nz-form-label>
    <nz-form-control [nzSpan]="4">
      <input nz-input type="password" [(ngModel)]="confirmpassword" name="confirmpassword">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzSpan]="4" [nzPush]="2">
      <button nz-button nzSize="small" nzType="primary" (click)="save()">修改</button>
    </nz-form-control>
  </nz-form-item>
</form>