<nz-alert nzType="warning" nzMessage="请将上传图片大小限制1M以内(封面图，文本编辑器上传图片)" nzShowIcon></nz-alert>
<nz-alert nzType="warning" nzMessage="URL优先级高于手动添加的文章内容，如需显示自定义内容，请将URL清空" nzShowIcon></nz-alert>
<form nz-form>
  <nz-form-item>
    <nz-form-label [nzSpan]="4">科室</nz-form-label>
    <nz-form-control [nzSpan]="10">
      <app-typecomp #typeComp></app-typecomp>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4">标题</nz-form-label>
    <nz-form-control [nzSpan]="10">
      <input nz-input [(ngModel)]="data_model.t_title" name="data_model.t_title">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4">作者</nz-form-label>
    <nz-form-control [nzSpan]="10">
      <input nz-input [(ngModel)]="data_model.t_author" name="data_model.t_author">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4">URL</nz-form-label>
    <nz-form-control [nzSpan]="10">
      <input nz-input [(ngModel)]="data_model.t_url" name="data_model.t_url">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4">日期</nz-form-label>
    <nz-form-control [nzSpan]="10">
      <app-datecomp #dateComp></app-datecomp>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4">封面图</nz-form-label>
    <nz-form-control [nzSpan]="10">
      <nz-upload class="avatar-uploader" nzAction="{{webServer}}/admin/articleCoverUpload" nzName="img" nzListType="picture-card"
        [nzShowUploadList]="false" [nzBeforeUpload]="beforeUpload" (nzChange)="handleChange($event)">
        <ng-container *ngIf="!imgUrl">
          <i class="anticon anticon-plus"></i>
          <div class="ant-upload-text">上传图片</div>
        </ng-container>
        <img *ngIf="imgUrl" [src]="imgUrl">
      </nz-upload>
    </nz-form-control>
  </nz-form-item>
</form>
<div nz-row>
  <div nz-col nzSpan="15" nzPush="3">
    <ckeditor [(ngModel)]="data_model.t_content" #ckeditor [config]="ckeConfig"></ckeditor>
  </div>
</div>
<div style="text-align: center;padding: 10px;">
  <button nz-button nzSize="small" nzType="primary" (click)="save()">保存</button>
</div>